{% load static %}
<link rel="stylesheet" href="{% static 'css/admin_custom.css' %}">

<h2>Активність авторів</h2>
<table>
    <thead>
        <tr>
            <th>Автор</th>
            <th>Кількість статей</th>
        </tr>
    </thead>
    {% for author in sorted_author_activity %}
    <tr>
        <td>
            <a class="article-link" href="/admin/newportal/author/{{ author.id }}/change/">{{ author.name }}</a>
        </td>
        <td>{{ author.count }}</td>
    </tr>
    {% endfor %}
</table>