{% load static %}
<link rel="stylesheet" href="{% static 'css/admin_custom.css' %}">

<h2>Час створення блоків</h2>
<table>
    <thead>
        <tr>
            <th>Тип блоку</th>
            <th>Час створення</th>
        </tr>
    </thead>
    <tbody>
        {% for log in creation_logs %}
        <tr>
            <td>{{ log.block_type }}</td>
            <td>{{ log.time_info }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">Дані відсутні</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
