{% extends 'base_generic.html' %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
<h1 id="how-listen">Про нас</h1>
    <div class="listen-block">
       Beatae id or illum and totam culpa or ea. Corporis adipisicing.
        Eius incididunt voluptate fugiat culpa minim. Aliquid ea and est and irure and sed in.
        Eiusmod ipsum consequat. Eaque minima so veniam modi and occaecat magna.
        Laboriosam eum consectetur. Magni in aut for aperiam eos consectetur.
        Illum quasi for omnis and cillum but velit accusantium pariatur.
        Beatae cillum nequeporro dolores but illum, and nulla. Officia duis,
        for accusantium yet error or occaecat eum et. Iste consequat yet dolor
        yet anim. Ex quae or nulla incididunt. Velit cillum but perspiciatis
        deserunt excepteur so ex. Ut consequat, so illum ab or iste eum quasi.
        Dicta ad ipsa, but cillum nulla yet nostrud, but consequat. Omnis lorem or
        sequi dolor id. Vitae vel but quisquam labore for incidunt. Cupidatat aliquip.
        Cillum rem exercitationem velit. Omnis dolore ratione.
        Laboriosam quasi so mollit for inventore so reprehenderit so totam but architecto. Dolorem.
        Incididunt consequuntur yet suscipit magni labore. Velit suscipit for exercitationem and
        velitesse velit consequat. Aut consequatur and quaerat yet culpa nisi. Ad tempora so voluptatem,
        and omnis aut. Nemo quae si. Do ut elit. Laudantium sint or eius eum but esse, for quasi
        commodi. Consequatur sed and molestiae or ex yet quo proident. Dolore consequuntur ex,
        for error voluptatem but autem yet quasi. Vitae proident and labore for nesciunt tempor
        molestiae. Commodo. Architecto. Aute sequi and adipisicing. Sequi quam, esse pariatur vitae.
        Consequatur. Aute quasi and quis and commodo. Aliquip veritatis. Sint nostrum yet ea.
        Aliqua sequi laboris deserunt molestiae exercitation. Enim commodo. Irure in.
        Nequeporro nisi irure for aliquam error yet fugit, irure.
        Laborum odit tempor. Eum esse, and si, aspernatur dolorem.
        Duis. Iure amet or amet, in adipisci. Esse amet.
    </div>
{% endblock %}