{% extends 'base_generic.html' %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
<h1 id="how-listen">Правила коментування</h1>
    <div class="listen-block">
        Редакція очікує від дописувачів аргументовані коментарі за темою публікації.
        Зі стрічки коментарів можуть бути вилучені неадекватні та безглузді коментарі, 
        а також коментарі, які містять:
    <ul>
        <li>образливі висловлювання та ненормативну лексику;</li>
        <li>прояви ненависті та дискримінації до певних груп та людей з іншою точкою зору, заклики до насильницьких дій;</li>
        <li>деструктивний та провокаційний контент;</li>
        <li>інформацію, що може нести загрозу для безпеки громадян;</li>
        <li>антинаукові твердження;</li>
        <li>повторювані наративи, що використовуються ботофермами та ворожою пропагандою;</li>
        <li>велику кількість спецсимволів або знаків емодзі;</li>
        <li>текст, набраний в режимі CAPS LOCK.</li>
    </ul>
    Редакція не несе відповідальності за зміст коментарів, розміщених відвідувачами сайту.
    </div>
{% endblock %}