{% extends 'base_generic.html' %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
<h1 id="how-listen">Як слухати?</h1>
    <div class="listen-block">
        Cat ipsum dolor sit amet, massacre a bird in the living room
        and then look like the cutest and most innocent animal on the
        planet so annoy the old grumpy cat, start a fight and then retreat
        to wash when i lose and throw down all the stuff in the kitchen,
        but shove bum in owner's face like camera lens. Scratch touch water
        with paw then recoil in horror hunt anything that moves, or freak
        human out make funny noise mow mow mow mow mow mow success now attack
        human. Stare at wall turn and meow stare at wall some more meow again
        continue staring chew master's slippers, so see owner, run in
        terror small kitty warm kitty little balls of fur or instantly
        break out into full speed gallop across the house for no reason
        good now the other hand, too spend six hours per day washing, but
        still have a crusty butthole. Jump around on couch, meow constantly
        until given food, hide head under blanket so no one can see. Cat ass
        trophy hit you unexpectedly and cat milk copy park pee walk owner
        escape bored tired cage droppings sick vet vomit. Immediately regret
        falling into bathtub rub butt on table spend all night ensuring people
        don't sleep sleep all day, i'm bored inside, let me out i'm lonely outside,
        let me in i can't make up my mind whether to go in or out, guess i'll just
        stand partway in and partway out, contemplating the universe for half an
        hour how dare you nudge me with your foot?!?! leap into the air in greatest
        offense! i like fish. Stare at ceiling inspect anything brought into the
        house. Kitty kitty just going to dip my paw in your coffee and do a taste test -
        oh never mind i forgot i don't like coffee - you can have that back now. More
        napping, more napping all the napping is exhausting warm up laptop with butt
        lick butt fart rainbows until owner yells pee in litter box hiss at cats.
        Ignore the human until she needs to get up, then climb on her lap and sprawl
        meow go back to sleep owner brings food and water tries to pet on head, so
        scratch get sprayed by water because bad cat you have cat to be kitten me right
        meow, and i like big cats and i can not lie but poop in the plant pot i shall
        purr myself to sleep so while happily ignoring when being called. Hunt by meowing
        loudly at 5am next to human slave food dispenser if human is on laptop sit on the
        keyboard but sleep on keyboard mmmmmmmmmeeeeeeeeooooooooowwwwwwww.
    </div>
{% endblock %}