{% extends 'base_generic.html' %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
<h1 id="how-listen">Правові аспекти</h1>
    <div class="listen-block">
       Munchkin birman so tabby persian and donskoy. Puma havana brown.
        Savannah cornish rex. Siamese tabby but puma havana brown, munchkin.
        Burmese savannah and norwegian forest balinese yet kitten ocelot.
        Bobcat. Kitty panther or jaguar and thai but maine coon. Himalayan
        cornish rex yet jaguar for egyptian mau. American bobtail. Lion. Bengal.
        Singapura. Abyssinian persian, savannah and puma bobcat british shorthair.
        Lion russian blue and norwegian forest so tom savannah for puma savannah.
        Cheetah munchkin american bobtail turkish angora yet birman for devonshire
        rex, siberian. Persian savannah, maine coon, yet kitty savannah russian blue,
        or kitty. Tomcat abyssinian himalayan, munchkin and savannah kitten bobcat.
        Devonshire rex panther maine coon or siberian. Cougar tom yet grimalkin or bengal for kitty.
        Ocelot balinese , so scottish fold but bobcat and american bobtail. Manx jaguar
        egyptian mau yet munchkin bengal so lynx norwegian forest. Tomcat sphynx. Scottish
        fold bobcat but thai. Abyssinian russian blue. Tom bengal balinese ragdoll
        devonshire rex. Kitten donskoy but thai. Cougar siberian puma but egyptian
        mau yet lion, for bengal. Ragdoll scottish fold manx yet siberian panther or
        panther, panther. Tom russian blue. Bobcat cougar yet american bobtail. American
        shorthair siamese, balinese grimalkin cougar maine coon but burmese. Mouser birman,
        yet tom tabby yet ocelot for devonshire rex. Savannah. American bobtail. Cornish
        rex savannah manx tom cougar bengal. Cornish rex balinese . Siberian thai.
        Siamese kitten scottish fold tiger siberian, for jaguar yet russian blue.
        Persian kitten for thai. Kitten burmese yet bobcat but kitten. Siberian bombay
        birman and siamese.
    </div>
{% endblock %}