{% load static %}
<link rel="stylesheet" href="{% static 'css/admin_custom.css' %}">

<h2>Популярні статті за збереженнями</h2>
<table>
   <thead>
         <tr>
            <th>Назва статті</th>
            <th>Кількість збережень</th>
        </tr>
   </thead>
    {% for title, saves in sorted_article_saves %}
    <tr>
        <td>
            <a class="article-link" href="/admin/newportal/article/{{ id }}/change/">{{ title }}</a>
        </td>
        <td>{{ saves }}</td>
    </tr>
    {% endfor %}
</table>